In [1]:
import pandas as pd

In [5]:
db = pd.read_csv("movies.csv", lineterminator='\n') #create dataframe

In [7]:
db.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 28,...",NaN,684428,tt0371396,en,The Matrix: What Is Bullet-Time?,...,1999-09-21,0,6,[],Released,NaN,The Matrix: What Is Bullet-Time?,False,0.0,0
1,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 28,...",NaN,684431,tt0365467,en,Making 'The Matrix',...,1999-09-21,0,26,[],Released,NaN,Making 'The Matrix',False,7.3,3
2,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,174615,tt0439783,en,Return to Source: The Philosophy of The Matrix,...,2004-12-07,0,61,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Return to Source: The Philosophy of The Matrix,True,7.2,11
3,False,NaN,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,371610,NaN,en,David Icke - Secrets of the Matrix,...,2004-10-05,0,360,[],Released,NaN,David Icke - Secrets of the Matrix,False,0.0,0
4,False,NaN,NaN,0,[],NaN,344225,tt0274085,en,Sex and the Matrix,...,2000-01-01,0,6,[],Released,NaN,Sex and the Matrix,False,7.0,2

In [10]:
db.shape

(20, 25)

In [11]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  20 non-null     bool
 1   backdrop_path          5 non-null      object
 2   belongs_to_collection  4 non-null      object
 3   budget                 20 non-null     int64
 4   genres                 20 non-null     object
 5   homepage               1 non-null      object
 6   id                     20 non-null     int64
 7   imdb_id                17 non-null     object
 8   original_language      20 non-null     object
 9   original_title         20 non-null     object
 10  overview               20 non-null     object
 11  popularity             20 non-null     float64
 12  poster_path            15 non-null     object
 13  production_companies   20 non-null     object
 14  production_countries   20 non-null     object
 15  release_date           19 non-null     object
 16  revenue                20 non-null     int64
 17  runtime                20 non-null     int64
 18  spoken_languages       20 non-null     object
 19  status                 20 non-null     object
 20  tagline                5 non-null      object
 21  title                  20 non-null     object
 22  video                  20 non-null     bool
 23  vote_average           20 non-null     float64
 24  vote_count             20 non-null     int64
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 3.8+ KB

In [12]:
db.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,2.000000e+01,20.000000,20.000000,2.000000e+01,20.000000,20.000000,20.000000
mean,1.815000e+07,421678.700000,10.311050,8.135526e+07,72.650000,5.000000,1572.100000
std,4.722875e+07,271752.412918,16.596384,2.062981e+08,89.407568,3.153778,4329.339452
min,0.000000e+00,603.000000,0.600000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,209775.000000,1.673500,0.000000e+00,6.750000,3.000000,0.750000
50%,0.000000e+00,504843.000000,2.377000,0.000000e+00,29.000000,6.650000,2.000000
75%,0.000000e+00,684505.500000,8.530750,0.000000e+00,124.500000,7.225000,14.500000
max,1.500000e+08,696109.000000,60.475000,7.385997e+08,360.000000,8.400000,17704.000000